header {
    width: 100vw;
    height: 30vh;
    bottom: 0;
    background-color: #ffc0cb;
    display: flex;
    justify-content: right;
    position: relative;
}

   
  .wave::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image:
     radial-gradient(circle at 10px -5px, transparent 12px, #fff 13px);
  }
  .wave::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    background-image:
      radial-gradient(circle at 10px 15px, #fff 12px, transparent 13px);
  }


.headerPic{
    height: 12vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
}

.headerdiv {
    display: flex;
    align-items: center;
}

.userLoggo {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.favoritesLoggo {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.loggOut {
    cursor: pointer;
    height: 0px;
    width: 0px;
    z-index: 3;

}

#popUp {
    display: flex;
    justify-content: center;
}

.overlay {
    z-index: 10;
    background-color: #ff8da0;
    width: 360px;
    height: 450px;
    border-radius: 10px;
    margin-top: -50px;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.overlay>h1 {
    margin-top: 85px;
    font-family: var(--fontStyle);
}

.overlay2 {
    z-index: 10;
    background-color: rgb(255, 141, 160);
    width: 360px;
    height: 450px;
    border-radius: 10px;
    margin-top: -50px;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.overlay2>h1 {
    margin-top: 40px;
    font-family: var(--fontStyle);
}

#errorMessage1,
#errorMessage2,
#errorMessage3 {
    font-size: 0px;
    margin-top: 1px;
    height: 0px;
    color: white;
}

.exitLoggo,
.exitLoggo2 {
    width: 40px;
    height: 40px;
    top: 15px;
    right: 16px;
    position: absolute;
    cursor: pointer;
}

#loginInput {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#username,
#newUser,
#password,
#newPassword,
#repeatPassword {
    width: 290px;
    height: 30px;
    border-radius: 5px;
    border: 1.5px solid black;
}

#login,
#createUser {
    width: 297px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: 0;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 0px;
    cursor: pointer;
}

#loginInput>p {
    width: 290px;
    margin-bottom: 3px;
}

#ifNot {
    margin-top: 0px;
    cursor: pointer;
    display: inline-flex;
}

#ifNot2 {
    margin-top: 0px;
    cursor: pointer;
    display: inline-flex;
}

#panic {
    width: 100px;
    height: 100px;
    background-color: pink;
    border-radius: 50%;
    position: fixed;
    top: 75%;
    left: 86%;
    cursor: pointer;
}

footer {
    width: 100vw;
    height: 7.5vh;
    bottom: 0;
    background-color: pink;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
}

.footerLoggo {
    height: 40px;
}