:root {
    --fontStyle: 'Gloria Hallelujah', cursive;
    --pinkColor: #ffc0cb;
}

body {
    margin: 0px;
    overflow-x: hidden;
    background-image: url(./images/dottedbackground-light.png);
    background-position: center;
    background-repeat: repeat;
    background-size: 7%;
}

#wrapper {
    display: flex;
    flex-direction: column;
    padding: 0vw 15vw 7vw 15vw;
    align-items: center;
}

#recepie {
    margin-top: 5vw;
}

h1 {
    font-family: var(--fontStyle);
}

.dishIntro {
    background-color: white;
    border: solid 1px rgb(0, 0, 0);
    margin: 20px;
    padding: 30px;
    padding-left: 30px;
    box-shadow: 5px 10px rgb(226, 169, 245);
    color: #41403E;
    outline: none;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    line-height: 1.5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.dishIntro>h1 {
    grid-column: 1/ span 2;
}

.dishIntro>p {
    grid-column: 1/ span 2;
}

img.dish-img {
    grid-column: 3;
    grid-row: 1/ span 3;
    height: 200px;
    justify-self: center;
    align-self: center;
    place-items: center;
}

.dishAllergies {
    border: solid 1px black;
    margin: 20px;
    padding: 30px;
    padding-left: 30px;
    box-shadow: 5px 10px rgb(226, 169, 245);
    align-self: center;
    background-color: white;
    color: #41403E;
    outline: none;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    line-height: 1.5;
}

.dishIngredients,
.dishTodo {
    border: solid 1px black;
    margin: 20px;
    padding: 30px;
    padding-left: 30px;
    box-shadow: 5px 10px rgb(226, 169, 245);
    align-self: center;
    background-color: white;
    color: #41403E;
    outline: none;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    line-height: 1.5;
}

.dishIngredients {
    width: 50%;
}

.dishTodo {
    width: 100%;
}

.group {
    display: flex;
}

#commentDiv {
    border: solid 1px black;
    margin: 20px;
    padding: 30px;
    padding-left: 30px;
    box-shadow: 5px 10px rgb(226, 169, 245);
    align-self: center;
    background: transparent;
    color: #41403E;
    outline: none;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    line-height: 1.5;
}

.comment {
    border: solid 1px black;
    margin: 20px;
    padding: 30px;
    padding-left: 30px;
    align-self: center;
    background-color: white;
    color: #41403E;
    outline: none;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    line-height: 1.5;
}

.comment h4 {
    font-family: var(--fontStyle);
    font-size: 10px;
    color: lightgray;
}

#commentDiv {
    background-color: white;
    width: 90%;

}

.comment h3 {
    font-family: var(--fontStyle);
    color: rgb(226, 169, 245);
}

#commentInput {
    border: solid 1px black;
    margin: 20px;
    padding: 30px;
    padding-left: 30px;
    align-self: center;
    background-color: white;
    color: #41403E;
    outline: none;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    line-height: 1.5;
    width: 90%;
}

#saveEdit {
    border: solid 1px black;
    margin: 10px;
    padding: 20px;
    background-color: white;
    color: #41403E;
    outline: none;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    line-height: 1.5;
    width: 85%;
}


#commentButton, #backButton {
    font-size: 16px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 200;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    align-self: center;
    background: transparent;
    transition: all .5s ease;
    color: #41403E;
    letter-spacing: 1px;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

#commentButton:after, #backButton:after {
    content: "";
    background-color: var(--pinkColor);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

#commentButton:hover:after, #backButton:hover:after{
    top: 0px;
    left: 0px;
}

button.edit,
button.takeAway,
.save,
.regret {
    align-items: center;
    background-color: #ffcccc;
    background-position: 0 0;
    border: 1px solid #ffadad;
    border-radius: 11px;
    box-sizing: border-box;
    color: #D33A2C;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    line-height: 33.4929px;
    list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
    padding: 2px 12px;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    text-underline-offset: 1px;
    transition: border .2s ease-in-out, box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    word-break: break-word;
}

#errorMessage4 {
    margin: 0px;
    color: white;
    position: relative;
    right: 40%;
    height: 0;
}

#errorMessage5 {
    font-size: 0px;
    margin-top: 1px;
    height: 0px;
    margin-left: 10px;
    color: black;
}

button.edit:active,
button.takeAway:active,
button.edit:hover,
button.takeAway:hover,
button.edit:focus,
button.takeAway:focus {
    outline: 0;
}


button.edit:active,
button.takeAway:active {
    background-color: #D33A2C;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
}

button.edit:hover,
button.takeAway:hover {
    background-color: #FFE3E3;
    border-color: #f48585;
}

button.edit:active:hover,
button.takeAway:active:hover,
button.edit:focus:hover,
button.takeAway:focus:hover,
button.edit:focus,
button.takeAway:focus {
    background-color: #D33A2C;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
}

div.commentButtons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

div.editButtons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 20px;
    gap: 10px;
}

.dish-img {
    justify-self: center;
    align-self: center;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    display: inline-block;
    height: auto;
    margin: 0 20px;
    max-width: 100%;
    padding: 8px;
    text-align: center;
    vertical-align: top;
  }