:root {
    --fontStyle: 'Gloria Hallelujah', cursive;
    --pinkColor: #ffc0cb;
}

body{
    margin: 0px;
}

#wrapper{
    display: flex;
    flex-direction: column;
    padding: 5vw 15vw 7vw 15vw;
    align-items: center;
}

h1 {
    font-family: var(--fontStyle);
}

.dishIntro{
    border: solid 1px rgb(0, 0, 0);
    margin: 20px;
    padding: 30px;
    padding-left: 30px;
    box-shadow: 5px 10px rgb(226, 169, 245);
    background: transparent;
    color: #41403E;
    outline: none;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    line-height: 1.5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.dishIntro > h1 {
    grid-column: 1/ span 2;
}

.dishIntro > p {
    grid-column: 1/ span 2;
} 

img.dish-img {
    grid-column: 3;
    grid-row: 1/ span 3;
    height: 20vh;
    justify-self: center;
    align-self: center;
    place-items: center;
}

.dishAllergies{
    border: solid 1px black;
    margin: 20px;
    padding: 30px;
    padding-left: 30px;
    box-shadow: 5px 10px rgb(226, 169, 245);
    align-self: center;
    background: transparent;
    color: #41403E;
    outline: none;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    line-height: 1.5;
}

.dishIngredients, .dishTodo{
    border: solid 1px black;
    margin: 20px;
    padding: 30px;
    padding-left: 30px;
    box-shadow: 5px 10px rgb(226, 169, 245);
    align-self: center;
    background: transparent;
    color: #41403E;
    outline: none;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    line-height: 1.5;
}

.dishIngredients {
    width: 50%;
}

.dishTodo {
    width: 100%;
}

.group{
    display: flex;
}

#commentDiv {
    border: solid 1px black;
    margin: 20px;
    padding: 30px;
    padding-left: 30px;
    box-shadow: 5px 10px rgb(226, 169, 245);
    align-self: center;
    background: transparent;
    color: #41403E;
    outline: none;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    line-height: 1.5;
}

.comment {
    border: solid 1px black;
    margin: 20px;
    padding: 30px;
    padding-left: 30px;
    align-self: center;
    background: transparent;
    color: #41403E;
    outline: none;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    line-height: 1.5;
}

.comment h4 {
    font-family: var(--fontStyle);
    font-size: 10px;
    color: lightgray;
}

.comment h3 {
    font-family: var(--fontStyle);
    color: rgb(226, 169, 245);
}