footer {
    width: 100vw;
    height: 10vh;
    bottom: 0;
    background-color: gray;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.footerLoggo {
    width: 45px;
    height: 35px;
}

/*fixa till css*/