:root {
  --fontStyle: 'Gloria Hallelujah', cursive;
  --pinkColor: pink;
}

body {
  margin: auto;
  overflow-x: hidden;
  background-image: url(./images/dottedbackground-light.png);
  background-position: center;
  background-repeat: repeat;
  background-size: 7%;
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#recepies {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  align-items: center;
}

.smallDishes {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border: solid 2px black;
  margin: 20px;
  padding: 10px;
  padding-left: 30px;
  padding-bottom: 30px;
  box-shadow: 5px 10px aquamarine;
  align-self:center;
  transition:all .5s ease;
  color:#41403E;
  letter-spacing:1px;
  outline:none;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.smallDishes:hover {
  cursor: pointer;
  box-shadow:2px 8px 4px -6px rgba(127, 255, 212, 0.452);
}

.dish-img {
  width: 170px;
  grid-column: 5 / span 2;
  grid-row: 1 / span 2;
  justify-self: center;
  align-self: center;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0,0,0,.4);
  display: inline-block;
  height: auto;
  margin: 0 20px;
  max-width: 100%;
  padding: 8px;
  text-align: center;
  vertical-align: top;
}

.img-tape--1:before {
  left: 60%;
  margin-left: -10px;
  top: 10px;
  transform: rotate(45deg);
}

.img-tape--1:after {
  display: none;
}

.img-tape {
  position: relative;
  text-align: center;
  display: inline-block;
  margin: 20px auto 10px;
  grid-column: 5 / span 2;
  grid-row: 1 / span 2;
  justify-self: center;
  align-self: center;
}

.img-tape::before {
  background: rgba(255, 224, 212, 0.38);
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    content: "";
    display: block;
    height: 30px;
    position: absolute;
    margin: auto;
    width: 100px;
}

.img-tape::after {
  background: rgba(255, 224, 212, 0.38);
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    content: "";
    height: 30px;
    position: absolute;
    margin: auto;
    width: 100px;
}

.dish-name {
  grid-column: 1 / span 3;
  grid-row: 1;
  font-family: var(--fontStyle);
  padding: 30px 0 8px;
  position: relative;
  margin: 0px;
}

.dish-info {
  grid-row: 2;
  grid-column: 1 / span 4;
  margin: 0px;
}

/* Buttons */
.filterButton {
  font-size: 16px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 200;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  align-self:center;
  background:transparent;
  transition:all .5s ease;
  color:#41403E;
  letter-spacing:1px;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.filterButton:after {
  content: "";
  background-color: var(--pinkColor);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.filterButton:hover:after {
  top: 0px;
  left: 0px;
}

.favorites {
  align-self: center;
  grid-row: 1/ span 2;
  grid-column: 7;
  background-image: url("./images/heartloggoblack.png");
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: cover;
  z-index: 500;
}

.liked {
  align-self: center;
  grid-row: 1/ span 2;
  grid-column: 7;
  background-image: url("./images/heartloggofilled.png");
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: cover;
  z-index: 500;

