:root {
  --fontStyle: 'Gloria Hallelujah', cursive;
  --pinkColor: pink;
}

body {
  margin: auto;
  overflow-x: hidden;
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#recepies {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  align-items: center;
}

.smallDishes {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border: solid 2px black;
  margin: 20px;
  padding: 10px;
  padding-left: 30px;
  box-shadow: 5px 10px aquamarine;
  align-self:center;
  background:transparent;
  transition:all .5s ease;
  color:#41403E;
  letter-spacing:1px;
  outline:none;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.smallDishes:hover {
  cursor: pointer;
  box-shadow:2px 8px 4px -6px rgba(127, 255, 212, 0.452);
}

.dish-img {
  width: 170px;
  grid-column: 5 / span 2;
  grid-row: 1 / span 2;
  justify-self: center;
  align-self: center;
}

.dish-name {
  grid-column: 1 / span 3;
  grid-row: 1;
  font-family: var(--fontStyle);
  padding: 30px 0 8px;
  position: relative;
}

.dish-name::before {
  content: "";
  position: absolute;
  left: 20%;
  bottom: 16px;
  width: 150px;
  height: 7px;
  transform: skew(-12deg) translateX(-50%);
  background: rgb(255, 252, 153);
  z-index: -1;
}

.dish-info {
  grid-row: 2;
  grid-column: 1 / span 4;
}

/* Buttons */
.filterButton {
  font-size: 16px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  align-self:center;
  background:transparent;
  transition:all .5s ease;
  color:#41403E;
  letter-spacing:1px;
  outline:none;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.filterButton:after {
  content: "";
  background-color: var(--pinkColor);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.filterButton:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .filterButton {
    padding: 13px 50px 13px;
  }
}
